<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/htmx.min.js" integrity="sha512-JvpjarJlOl4sW26MnEb3IdSAcGdeTeOaAlu2gUZtfFrRgnChdzELOZKl0mN6ZvI0X+xiX5UMvxjK2Rx2z/fliw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <h1>Items</h1>
    <ul id="item-list">
        {% for item in items %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>

    <h2>Add Item</h2>
    <form id="add-item-form" hx-post="{% url 'add_item' %}" hx-target="#item-list" hx-swap="beforeend" hx-swap-oob="true">
        {% csrf_token %}
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name">
        <button type="submit">Add Item</button>
    </form>
</body>
</html>
